<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${group.name}">Group name</title>
</head>

<body>
    <h1 th:text="${group.name}">Group name</h1>

    <h3>Пользователи</h3>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>

    <div style="padding-top: 20px; padding-bottom: 10px;">
        <h3 style="display: inline;">Счета</h3>

        <a th:href="@{/accounts/new(groupId=${group.id})}" style="display: inline;">Добавить</a>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Пользователь</th>
                <th>Баланс</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.name}"></td>
                <td th:text="${account.user}"></td>
                <td th:text="${account.balance}"></td>
                <td><a th:href="@{/accounts/edit(id=${account.id})}">Изменить</a></td>
            </tr>
        </tbody>
    </table>

    <div style="padding-top: 20px; padding-bottom: 10px;">
        <h3 style="display: inline;">Долги</h3>

        <a th:href="@{/accounts/new(groupId=${group.id})}" style="display: inline;">Добавить</a>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Пользователь</th>
                <th>Баланс</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="debt : ${debts}">
                <td th:text="${debt.id}"></td>
                <td th:text="${debt.name}"></td>
                <td th:text="${debt.user}"></td>
                <td th:text="${debt.balance}"></td>
                <td><a th:href="@{/accounts/edit(id=${debt.id})}">Изменить</a></td>
            </tr>
        </tbody>
    </table>

    <div style="padding-top: 20px; padding-bottom: 10px;">
        <h3 style="display: inline;">Категории</h3>

        <a th:href="@{/categories/new(groupId=${group.id})}" style="display: inline;">Добавить</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Тип</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td th:text="${category.type}"></td>
                <td><a th:href="@{/categories/edit(id=${category.id})}">Изменить</a></td>
            </tr>
        </tbody>
    </table>

    <div style="padding-top: 20px; padding-bottom: 10px;">
        <h3 style="display: inline;">Операции</h3>

        <a th:href="@{/operations/new(groupId=${group.id})}" style="display: inline;">Добавить</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Счет</th>
                <th>Аналитика</th>
                <th>Сумма</th>
                <th>Пользователь</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="operation : ${operations}">
                <td th:text="${operation.id}"></td>
                <td th:text="${operation.date}"></td>
                <td th:text="${operation.type}"></td>
                <td th:text="${operation.account}"></td>
                <td th:text="${operation.analytic}"></td>
                <td th:text="${operation.sum}"></td>
                <td th:text="${operation.user}"></td>
                <td><a th:href="@{/operations/edit(id=${operation.id})}">Изменить</a></td>
                <td><a th:href="@{/operations/delete(id=${operation.id})}"
                        th:onclick="return confirm('Are you sure you want to delete this item?');">Удалить</a></td>
            </tr>
        </tbody>
    </table>

</body>

</html>